@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

/**
** All color variables
*/
:root{
    --primary-color : #1EC6B6;
    --secondary-color : #FF4A52;
}


/**
** All Fonts
*/
body{
    font-family: "Encode Sans Expanded", sans-serif;
}
.nothing-font{
    font-family: "Nothing You Could Do", cursive;
}

/**
** Hero section swiper 
*/

.swiper-button-next,
.swiper-button-prev {
    
    background-color: rgba(255, 255, 255, 0.315);
    height: 100px !important;
    width: 40px !important;
    color: white !important;
    fill: white !important;
    stroke: white !important;
}

.swiper-button-prev::after,
.swiper-button-next::after{
    font-size: 20px !important;
}

@media screen and (max-width: 768px) {
    .swiper-button-prev,
    .swiper-button-next {
      display: none !important;
    }
  }

/**
** Video icon ripple effect 
*/

  .ripple-container {
    position: relative;
    display: inline-block;
  }
  
  .circles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
  }
  
  .circles > div {
    animation: growAndFade 3s infinite ease-out;
    background-color: #1EC6B6;
    border-radius: 50%;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
  }
  
  .circle1 {
    animation-delay: 1s;    
  }
  
  .circle2 {
    animation-delay: 2s; 
  }
  
  .circle3 {
    animation-delay: 3s;
  }
  
  @keyframes growAndFade {
    0% {
      opacity: .25;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1.5);
    }
  }
  

  #testimonial-section {
    position: relative;
    height: 100%;
  }
  

  #testimonial-section .swiper {
    width: 100%;
    height: 100%;
    background: #F7FAFD;
  }
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  .floating-button {
    animation: float 2s ease-in-out infinite;
  }




  .menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
  }
  .line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  
  @media (max-width: 640px) {
  .glass-bg{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.81);
border-radius: 20px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.3px);
-webkit-backdrop-filter: blur(6.3px);
border: 1px solid rgba(255, 255, 255, 0.3);

  }
}