@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

/**
** All color variables
*/
:root{
    --primary-color : #1EC6B6;
    --secondary-color : #FF4A52;
}


/**
** All Fonts
*/
body{
    font-family: "Encode Sans Expanded", sans-serif;
}
.nothing-font{
    font-family: "Nothing You Could Do", cursive;
}

/**
** Hero section swiper 
*/

.swiper-button-next,
.swiper-button-prev {
    
    background-color: rgba(255, 255, 255, 0.315);
    height: 100px !important;
    width: 40px !important;
    color: white !important;
    fill: white !important;
    stroke: white !important;
}

.swiper-button-prev::after,
.swiper-button-next::after{
    font-size: 20px !important;
}

@media screen and (max-width: 768px) {
    .swiper-button-prev,
    .swiper-button-next {
      display: none !important;
    }
  }

/**
** Video icon ripple effect 
*/

  .ripple-container {
    position: relative;
    display: inline-block;
  }
  
  .circles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
  }
  
  .circles > div {
    animation: growAndFade 3s infinite ease-out;
    background-color: #1EC6B6;
    border-radius: 50%;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
  }
  
  .circle1 {
    animation-delay: 1s;    
  }
  
  .circle2 {
    animation-delay: 2s; 
  }
  
  .circle3 {
    animation-delay: 3s;
  }
  
  @keyframes growAndFade {
    0% {
      opacity: .25;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1.5);
    }
  }
  

  #testimonial-section {
    position: relative;
    height: 100%;
  }
  

  #testimonial-section .swiper {
    width: 100%;
    height: 100%;
    background: #F7FAFD;
  }
  
  